* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.twoColumns {
  padding: 90px 0px;
  display: flex;
  margin-top: -170px;
}

.skillSet {
  flex: 1;
  background-color: transparent;
  height: 300px;
  width: 1200px;
  margin: 100px 150px;
  padding: 3%;
}

.skillSet h1 {
  text-align: center;
  padding: -5%;
}

.skillSet p {
  padding: 4%;
  text-align: center;
  color: gray;
}

.skillsButton {
  transform: translateX(710px);
  background-color: #fffb7d;
  background-image: linear-gradient(45deg, #fffb7d 0%, #85ffbd 100%);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
}

.textSection {
  flex: 1;
  height: 600px;
  align-content: center;
  padding: 0 10%;
}

.skillsImageSection {
  flex: 1;
  height: 600px;
}

.textSection h1 {
  position: relative;
  right: -5%;
  display: inline-block;
  font-size: 20px;
  animation: 1.3s fade-down;
}

.textSection P {
  position: relative;
  line-height: 2.5;
  right: -7%;
  font-size: 15px;
  color: gray;
  text-align: left;
  animation: 2s fade-down;
}
.imgLaptopMobile {
  float: left;
}

@keyframes fade-down {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
